.dashboardList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background: var(--panel);
}

.dashboardList__searchBar {
  display: flex;
  margin: 20px 0px;
}

.dashboardList__searchBar input[type="search"] {
  max-width: 500px;
}

.dashboardList__searchBar button {
  margin-left: 20px;
}

.dashboardList__searchBar button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(100);
}

.dashboardList__grid {
  flex-grow: 1;
  border-radius: 10px;
  outline: 1px solid var(--border);
  overflow: hidden;
}

.contentCard {
  height: 100%;
  padding-bottom: 35px;
  overflow: scroll;
}

.listEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-buttons .btn-primary {
  width: 100%;
}

.edit-buttons .btn-success {
  width: 50%;
  margin-right: 5px;
}

.edit-buttons .btn-danger {
  width: 45%;
}

.row {
  display: grid;
  grid-template-columns: 100px 100px repeat(6, 1fr) 50px 50px;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--border);
}

.row span {
  border-right: 1px solid var(--border);
}

.row button img {
  height: 20px;
  filter: invert(21%) sepia(76%) saturate(2935%) hue-rotate(190deg)
    brightness(98%) contrast(95%);
  transition: 0.2s;
}

.row button:hover img {
  height: 20px;
  filter: invert(100%);
  transition: 0.2s;
}

.user {
  grid-template-columns: 100px repeat(6, 1fr) 50px;
}

.admin button:last-child img {
  filter: invert(28%) sepia(73%) saturate(7153%) hue-rotate(353deg)
    brightness(94%) contrast(125%);
}
