.row {
  display: grid;
  grid-template-columns: 1fr 1fr 100px 90px 90px 130px 50px 50px;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--border);
}

.row button img {
  height: 20px;
  filter: var(--filter-primary);
  transition: 0.2s;
}

.row button:hover img {
  height: 20px;
  filter: invert(100%);
  transition: 0.2s;
}

.row button img {
  height: 20px;
  filter: var(--filter-primary);
  transition: 0.2s;
}

.row button:hover img {
  height: 20px;
  filter: invert(100%);
  transition: 0.2s;
}

.row button:last-child img {
  filter: invert(28%) sepia(73%) saturate(7153%) hue-rotate(353deg)
    brightness(94%) contrast(125%);
}

.row .permissions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  opacity: 0.8;
  color: white;
  border: 1px solid grey;
}

.row .access {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.row .denegated {
  color: #9c9c9c;
  border-color: #9c9c9c;
}

.row .avaible {
  border-color: #389138;
  color: #389138;
}
