.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: min-content;
  max-height: var(--max-height);
  padding-top: var(--navbar-height);
}

.section h2 {
  position: relative;
  margin: 30px;
  font-size: var(--title-size);
  font-weight: bold;
}

.controls {
  position: relative;
  display: flex;
  text-align: center;
  gap: 20px;
  margin-bottom: 50px;
}

.controls button {
  width: 20px;
  height: 20px;
  border: 1px solid #0004;
  border-radius: 50%;
  color: transparent;
  background-color: white;
}

.controls .selected {
  background-color: var(--primary-color);
}

.sistemInfo {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: var(--max-width);
}

.text {
  padding: 30px;
  padding-right: 60px;
  width: 40%;
}

.sistemInfo .imgContainer {
  width: 700px;
  height: min-content;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #0002;
  overflow: hidden;
  background-color: white;
}

.sistemInfo .imgContainer img {
  width: 100%;
}

.cooperadores {
  width: 100%;
  height: 230px;
  background-color: var(--primary-color);
  overflow: hidden;
}

.cooperadores h4 {
  margin: 0;
  text-align: center;
  margin: 20px 0;
  color: white;
  font-weight: bold;
}

.cooperadores div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--max-width);
  margin: auto;
  padding: 0 50px;
}

.cooperadores img {
  height: 140px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px #0002;
  background-color: white;
}

@media screen and (max-width: 700px) {
  .sistemInfo {
    display: flex;
    flex-direction: column-reverse;
  }

  .section h2 {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .sistemInfo .imgContainer {
    width: 90%;
    margin: auto;
  }

  .text {
    width: 100%;
  }

  .cooperadores {
    height: 1000px;
  }

  .cooperadores div {
    display: flex;
    flex-direction: column;
  }

  .cooperadores img {
    height: 140px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #0002;
    background-color: white;
  }
}
