.charts {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  padding: 30px;
  padding-top: 0;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.charts .btnContainer {
  grid-column: 1 / 3;
  height: min-content;
  margin-bottom: 20px;
}
