.sideBar {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: var(--dark-panel);
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  padding: 30px;
  background-color: #0002;
}

.head img {
  width: 80%;
}

.sideBar button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: none;
  padding: 15px 20px;
  text-align: left;
  font-size: 18px;
  background-color: inherit;
  color: gray;
  transition: 0.1s;
}

.sideBar button img {
  width: 30px;
  margin-right: 10px;
  filter: invert(90);
}

.sideBar button:hover {
  color: var(--primary-color);
  background-color: #0003;
}

.sideBar button:hover img {
  filter: invert(21%) sepia(76%) saturate(2935%) hue-rotate(190deg)
    brightness(98%) contrast(95%);
}

.sideBar .selected {
  color: var(--primary-color);
  border-left: 5px solid var(--primary-color);
  background-color: #0003;
  transition: 0.1s;
}

.sideBar .selected img {
  filter: invert(21%) sepia(76%) saturate(2935%) hue-rotate(190deg)
    brightness(98%) contrast(95%);
}
