.form {
  position: absolute;
  z-index: 1500;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--font);
  background-color: var(--background);
  overflow: hidden;
}

.close {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 10px 5px #0006;
}

.close h3 {
  flex-grow: 1;
  margin: 20px;
  margin-left: 0px;
  text-align: center;
}

.close div {
  margin-right: 7px;
}

.grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, max-content);
  grid-template-areas:
    "title1 title1 title1 title1"
    "id fechaIngresoSolicitud radicadoSIPA radicadosSIPARespuesta"
    "convocante medioControl pretension valorEstimado"
    "asignacionAbogado estadoSolicitud terminoLegal ."
    "title2 title2 title2 title2"
    "consecutivo radicadosSIPASolicitud fechaComite ."
    "title3 title3 title3 title3"
    "decisionComite decisionComite estadoAudiencia estadoAudiencia"
    "title4 title4 title4 title4"
    "procuraduriaRemitente numeroSolicitud fechaCitacionAudiencia ."
    "observaciones observaciones observaciones observaciones";
  gap: 20px;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
  background-color: #0004;
}

.grid::-webkit-scrollbar {
  width: 10px;
  background: #0004;
}

.grid::-webkit-scrollbar-track {
  background-color: transparent;
}

.grid::-webkit-scrollbar-thumb {
  background-color: var(--dark-panel); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

.grid .formuladas {
  background-color: #f944 !important;
}

.form .btnContainer:last-child {
  position: relative;
  z-index: 100;
  padding: 20px;
  box-shadow: 0 0 10px 5px #0006;
}

.form .btnContainer button {
  margin-right: 20px;
}

.grid .title1 {
  grid-area: title1;
}

.grid .title2 {
  grid-area: title2;
}

.grid .title3 {
  grid-area: title3;
}

.grid .title4 {
  grid-area: title4;
}

.grid div:nth-child(5) {
  grid-area: id;
}

.grid div:nth-child(6) {
  grid-area: fechaIngresoSolicitud;
}

.grid div:nth-child(7) {
  grid-area: radicadoSIPA;
}

.grid div:nth-child(8) {
  grid-area: convocante;
}

.grid div:nth-child(9) {
  grid-area: medioControl;
}

.grid div:nth-child(10) {
  grid-area: pretension;
}

.grid div:nth-child(11) {
  grid-area: valorEstimado;
}

.grid div:nth-child(12) {
  grid-area: asignacionAbogado;
}

.grid div:nth-child(13) {
  grid-area: estadoSolicitud;
}

.grid div:nth-child(14) {
  grid-area: terminoLegal;
}

.grid div:nth-child(15) {
  grid-area: consecutivo;
}

.grid div:nth-child(16) {
  grid-area: radicadosSIPASolicitud;
}

.grid div:nth-child(17) {
  grid-area: radicadosSIPARespuesta;
}

.grid div:nth-child(18) {
  grid-area: fechaComite;
}

.grid div:nth-child(19) {
  grid-area: decisionComite;
}

.grid div:nth-child(20) {
  grid-area: estadoAudiencia;
}

.grid div:nth-child(21) {
  grid-area: procuraduriaRemitente;
}

.grid div:nth-child(22) {
  grid-area: numeroSolicitud;
}

.grid div:nth-child(23) {
  grid-area: fechaCitacionAudiencia;
}

.grid div:nth-child(24) {
  grid-area: observaciones;
}
