.row {
  display: grid;
  grid-template-columns: 1fr 1fr 100px 50px;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--border);
}

.row span {
  border-right: 1px solid var(--border);
}

.row button img {
  height: 20px;
  filter: invert(21%) sepia(76%) saturate(2935%) hue-rotate(190deg)
    brightness(98%) contrast(95%);
  transition: 0.2s;
}

.row button:hover img {
  height: 20px;
  filter: invert(100%);
  transition: 0.2s;
}
